<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% for(let i = 0; i < photos.length; i++) {%>
      <div class="post-preview">
        <a href="/posts/<%= photos[i]._id %>">
          <h2 class="post-title">
            <%= photos[i].title %>
          </h2>
          <h2 class="post-title">
            <%= photos[i].detail %>
          </h2>
        </a>
      </div>
      <hr>
    <% } %>
    </ul>

    <div>
      <% if (pages > 0) { %>
        <ul class="nav tm-paging-links">
          <% for (i=1; i <=pages; i++) { %>
            <%   if (i == current) { %>
              <li class="nav-item active"><a href="/?page=<%= i %>" class="nav-link tm-paging-link"><%= i %></a></li>
            <% } else if (i < pages) { %>
              <li class="nav-item"><a href="/?page=<%= i %>" class="nav-link tm-paging-link"><%= i %></a></li>
            <%  } else { %>
              <li class="nav-item"><a href="/?page=<%= i %>" class="nav-link tm-paging-link">></a></li>
            <%  } %>
          <%  } %>
        </ul>
      <% } %>
     </div>


</body>
</html>